.overall-cover{
    overflow-x:  hidden;
    
    .home{
        background:url("https://images.pexels.com/photos/9090746/pexels-photo-9090746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, .7);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        position:relative;
        top: 0;
        left: 0;
        overflow-x: hidden;
        .mission{
            position:absolute;
            top: 50%;
            left: 50%;
            overflow-x: hidden;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 0 100px;
            h1{
                font-size: 3.5rem;
                text-justify: auto;
                text-align: center;
                color: whitesmoke;
                .initial{
                    color: #34A853;
                }
                .first{
                    color: #B4D245;
                }
                .second{
                    color: red;
                }
            }
        }
    }
}


@media only screen
and (max-width: 600px) 
// and (max-width: 720px) 
{
    .overall-cover{
        overflow-x:  hidden;
        
        .home{
            background:url("https://images.pexels.com/photos/9090746/pexels-photo-9090746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            background-size: cover;
            background-position: center;
            background-color: rgba(0, 0, 0, .7);
            background-blend-mode: soft-light;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100vw;
            position:relative;
            top: 0;
            left: 0;
            overflow-x: hidden;
            .mission{
                position:absolute;
                top: 50%;
                left: 50%;
                overflow-x: hidden;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 0 100px;
                h1{
                    font-size: 1.5rem;
                    text-justify: auto;
                    text-align: center;
                    color: whitesmoke;
                    .initial{
                        color: #34A853;
                    }
                    .first{
                        color: #B4D245;
                    }
                    .second{
                        color: red;
                    }
                }
            }
        }
    }
}

