@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&family=Roboto:wght@100;300;400&display=swap');
body{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@media only screen
and (max-width: 600px){
  body{
    overflow-x: hidden;
  }
}
